/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------- CSSCONTENEUR -------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
.aLaUne{
	border-bottom: 2px solid orange;
	margin-bottom: 20px;
	margin-top: 15px;
}
#hamburger{						/* Div du future hamburger */
	text-align: center;
	background-color: #4D4A4A;
	box-shadow: 2px 2px 5px 0px #656565;
}

#conteneur{
	background-color: #24888F;
	margin-right: 35px;
}
#fb-root{
	background-color: #3B5999;
	width: 20%;
	box-shadow: 2px 2px 5px 0px #656565;
	
}
.pagefb{
	width: 95%;
	margin-left: 8px;
	
}
#containerDeux{
	width: 50%;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------- CSSLA UNE ----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/

.les-articles{
	padding-bottom: 25px; 
}

.articleimg1, .articleimg2, .articleimg3, .articleimg4, .articleimg5{
padding: 0px;
border: solid 0.01em #E9E9E9;
}

/*style articles accueil*/


.blanc{
	background-color: white;
	padding: 2em 2em 2em 2em;;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;

}
.gap-right {
    margin-right: 20px; 
    overflow: wrap;
    width: 400px;
}
figcaption{
	text-transform: bold;
	font-weight: bold;
}



.indent {
    text-indent: 20px;
}

/* fin style articles accueil*/

/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------- PLUS ENCORE ----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
#etPlusEncore{

}
.panel, .panel-default{
	padding: 1%;
}
