/*---------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------FABRIKSTYLES---------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
#global{
	border-bottom: solid 5px orange;
}
#space{
	height: 25px;
}
#space3{
	height: 25px;
	background-color: white;
}
#titrepage{
	height: 100px;
	background-color: white;
	text-align: left;
	
}
.letterpress{
	font-size: 70px;         /* taille de la police */
   color: white;          /* Couleur de la police */
   text-decoration: none;       /* Enlèvement du soulignement sur les liens */
   text-shadow: 0 -2px 0 #222222;
   text-align: center;
   font-family: 'Pacifico', cursive;
}
#presentation{
	background-color: #1693A5;
	padding: 30px;
}
 .will{
	background-color: #FBFBFB ;
	color: black;
	width: 1000px;
   height: 200px;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
   padding: 10px;
   -webkit-box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.75);
	box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.75);
	margin: 10px;
	display: flex;
}
article:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #FBFBFB;
   border-bottom: 13px solid transparent;
} 
#space2{
	height: 40px;
}
.col-xs-5{
	padding: 0;
	margin: 0;
}
#photofab img {
	width: 350px;
	height: 350px;
}

.btn-facebook {
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	  font-family: 'Pacifico', cursive;
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
	#facebook{
		background-color: #263961;
		height: 551px;
		text-align: center;
		margin: 40px auto;
	}
	#fb{
		height: 470px;
	}
	#plan{
		padding: 43px;
	}
	#plan iframe{
		width: 100%
	}
	#flex{
		display: flex;
		justify-content: center;
	}

.collapsible-header{
	padding: 15px;
	border-bottom: 2px solid orange;
	text-align: center;
	background-image: linear-gradient(120deg, #1F5D74 15%, #1693A5 35%);
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}


.title {
  position: relative;
  -webkit-perspective: 400;
          perspective: 400;
  padding-left: 17px;
  margin-bottom: 35px;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #1693A5;
}
.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 8px;
  background: #EC9566;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 1s ease-out forwards;
          animation: title-border-slide-in 1s ease-out forwards;
}
.title .title-word {
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
          animation: roll-in 0.15s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
          animation: roll-in 0.15s 0.175s ease-out forwards;
}
.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
          animation: roll-in 0.15s 0.35s ease-out forwards;
}
.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
          animation: roll-in 0.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}