/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------- PAGE GALERIE FORME ----------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
#myCarousel{
	margin-top: 20px;
}

.glyphicon-chevron-left{
	color: black;
}

.glyphicon-chevron-right{
	color: black;
}

h3{
	background-color: #122136;
	color: white;
	box-shadow: 2px 2px 5px 0px black;
	margin-bottom: -40px;
}
