.navbar #bottom {
  /* Zone menu & navigation */
  background-color: #E79063;
  border-bottom: 3px solid #8b563c;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  -webkit-box-shadow: -1px 16px 20px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -1px 16px 20px 0px rgba(0, 0, 0, 0.28);
  box-shadow: -1px 16px 20px 0px rgba(0, 0, 0, 0.28); }

.navbar #bottom .container {
  /* Boîte des liens */
  margin-top: 0px; }

.navbar #bottom .container .navbar-nav {
  /* Sous-boite des liens */
  width: 100%;
  text-align: center; }

.navbar #bottom .container .navbar-nav > li {
  /* Centrer les li */
  float: none;
  display: inline-block; }

.navbar #bottom .container .nav #active {
  /* Lien actuel */
  background-color: #8b563c; }

.navbar #bottom .container .nav a {
  /* Texte des liens */
  color: #FFFFFF;
  text-transform: uppercase;
  transition: 300ms cubic-bezier(0.4, 0, 1, 1);
  padding: 10px 30px; }

.navbar #bottom .container .nav > li > a:hover {
  /* Texte des liens au survol */
  background-color: #D5855C; }

.navbar #bottom .container .nav > li > a:focus {
  /* Texte des liens au clic */
  background-color: #8b563c; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #D5855C; }

.dropdown-menu {
  /* Menu déroulant */
  background-color: #8b563c;
  text-align: center;
  border: 0px;
  min-width: auto; }

.dropdown-menu li a {
  /* Texte des liens */
  color: #FFFFFF;
  font-size: 16px; }

.navbar-nav > li > .dropdown-menu {
  left: 0;
  right: 0; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  /* Texte des liens au survol */
  background-color: #D5855C; }

.navbar #bottom .container .bars {
  background-color: transparent;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right; }

.navbar #bottom .container .text {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  top: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  float: left; }

@media screen and (max-width: 1024px) {
  .navbar #top {
    background-position: 50% 50%; } }
@media screen and (max-width: 767px) {
  .navbar #top {
    background-position: 47% 50%; }

  .navbar #bottom .container .navbar-nav {
    text-align: left; }

  .navbar #bottom .container .navbar-nav > li {
    float: none;
    display: block; } }
@media screen and (max-width: 425px) {
  .navbar #top {
    background-position: 46% 50%; } }
@media screen and (max-width: 425px) {
  .navbar #top {
    padding: 15px 15px; } }
.container {
  margin-top: 250px; }
  .container .row {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto; }
    .container .row .boxtitle {
      /* Icônes des sections*/
      padding-right: 0px;
      padding-left: 0px; }
      .container .row .boxtitle .fa {
        color: #C93F5E;
        margin-right: 10px; }
    .container .row .box {
      /* Style par défaut des blocs */
      background-color: #FFFFFF;
      border-top: 6px;
      border-right: 1px;
      border-bottom: 1px;
      border-left: 1px;
      border-color: #1693A5;
      border-style: solid;
      border-radius: 5px;
      padding-top: 15px;
      padding-bottom: 15px; }
/*---------image acroche------ */

.phraseacroche{
  
}